.SettingsContainer {
    display: flex;
    flex-direction: column;
}

.SettingRow {
    display: flex;
    justify-content: center;
}

.SettingRow__label {
    width: 8em;
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    padding: 16px 0;
}

.SettingRow__value {
    display: flex;
    align-items: center;
}

.SettingRow__button {

}
